body {
    font-family: Verdana, sans-serif;
    font-size: 1.2em;
    color: #191970;
    background-color: #C9C0BB;


}
h1 {
    font-variant: all-small-caps;
    background-color: darkred;
    margin-right: 1100px;
}
a:hover{
    border: 3px solid darkblue;
}
.stippeltjesrand{
    border-style: dotted;
    border-width: 1px;
}
.icon {
    background-image: url('../Opdracht5/hyperlink.png');
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
}