* {
    box-sizing: border-box;
}
#main {
    display: flex;
}

.colorBox {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}
#btnSave {
    float: left;
}

#saved {
    height: 500px;
}

.colorBoxSaved {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}